<div class="container">
  <!-- List of courses this lecture teaches -->
  <h1>Classes</h1>

    <table class="table">
    <tr>
      <th>Course name</th>
      <th>Number of students</th>
        <th>Number of groups</th>
    <th>Confirmed</th>
      <th>Tools</th>
    </tr>

  <% if @courses != nil && @courses.count > 0 %>
       <% @courses.each do |course| %>
          <tr>
            <td><%= link_to course.name, controller: "grouped", action: "index", id: course.id %></td>
            <td> <%= Student.find(:all, :conditions => {:course_id => course.id}).count  %></td>
       <td><%= Student.where(:course_id => course.id).distinct.count(:group_id) =%> </td>

            <td>
            <% if course.confirmed %>
            	Yes
            <% else %>
            	No
            <% end %>
            </td>
            <td>
            <%= link_to "Delete", {controller: "lecturer", action: "delete" , id: course.id}, {data:{confirm: "You have students in this class. \nAre you sure you want to delete #{course.name}?"}} %>
             </td>
          </tr>
        <% end %>
    <% end %>
    </table>

  <% if session[:err_msg][1].blank? && session[:err_msg][2].blank? && session[:err_msg][3].blank? && session[:err_msg][4].blank?  %>
    <div id="add_class">
      <%= button_to("Add a class", '/lecturer', {class: "btn btn-default", id: "add_class", remote: true}) %>
    </div>	
    <% else %>
    <% for i in 1..4 %>
  		<% if !session[:err_msg][i].blank?  %>
	   		<div class="alert alert-warning">
      		<a href="#" class="close" data-dismiss="alert">&times;</a>
      		<%= session[:err_msg][i] %>
      		<% session[:err_msg][i] = nil %>
  			</div>
  		<% end %>
   	<% end %>
    <%= render partial: "form" %>
<script>
  $('#fileselectbutton').click(function(e){
    $('#file').trigger('click');
  });

  $('#file').change(function(e){
    var val = $(this).val();
    var file = val.split(/[\\/]/);
    $('#filename').val(file[file.length-1]);
  });
  $('#upload_tooltip').tooltip();
</script>
  		<% end %>
</div>