<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Groupify</a>
    </div>
  </div><!-- /.container -->
</nav>

<div class="container text-center">
<% @page_title = "Groupify | Signup" -%>
<div class= "Sign_Form">
  <h1>Sign Up</h1>
  <%= form_for(:signup, :url => {:controller => 'signup', :action => 'create'}) do |f| %>

    <p>          
      Username:</br> <%= f.text_field :username%>
    </p>

    <p>
      Email:</br> <%= f.text_field :email%>
    </p>

    <p>      
      Password:</br> <%= f.password_field :password%>
    </p>

    <p>     
      Password Confirmation:</br> <%= f.password_field :password_confirmation%>
    </p>
 	<%= f.submit :Signup, :class => "btn" %>
      <%= button_tag('Back', {class: 'btn', onclick: "window.location.href='/'", type: 'button'}) %>
  <% end %>
  <% if @user.errors.any? %>
	<ul class="Signup_Errors">
		<% for message_error in @user.errors.full_messages %>
			<li>* <%= message_error %></li>
	  	<% end %>
	</ul>
  <% end %>
</div>
</div>
<div class="container">
      <footer>
            <p>Copyright &copy; Groupify Pty Ltd 2013</p>
        </footer>
        <!-- /END OF FOOTER -->

    </div>
    <!-- /container -->