<div class="container">
<h1><%= @current_course.name %> </h1>

<% if @current_course.year != nil %>
  <h3><%= @current_course.year %></h3>
  <h4><%= @current_course.semester %>  </h4>
<% else %>
  <h3> 2014 </h3>
  <h4> Semester 1 </h4>
<% end %>

  <div class="row">
    <div class="col-md-1" >
    <%= form_tag('/sort/index') do %>
      <%= submit_tag 'Group', class: "btn" %>
    <% end %>
  	</div>
  	<% if @current_course.grouped %>
    <div class="col-md-2" >
    <%= form_tag('/grouped') do %>
      <%= submit_tag 'View Groups', class: "btn" %>
    <% end %>
  	</div>
  	<% end %>
    <div class="col-md-1" >
    <%= form_tag() do %>
      <%= submit_tag 'Contact', class: "btn" %>
    <% end %>
  	</div>
  
  </div>
  </br>
<%  if !@students.blank? # Display list %>
<table class="table">
  <tr>
    <th>Student Number</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Degree</th>
    <% if @current_course.grouped %>
    <th>Group Number</th>
    <% end %>
  </tr>    
      <tr>
        <% @students.each do |data| %>
       	 <td> <%= data.student_id %> </td>
        <td> <%= data.first_name %> </td>
        <td> <%= data.last_name %> </td>
        <td> <%= data.degree %> </td>
     <% if @current_course.grouped %>
    <td> <%= Group.find_by(:id => data.scgs.find_by(:student_id => data.id).group_id).number  %></td>
    <% end %>       
      </tr>
    <% end %>
</table>
<% else %>
  <p> There are no student details uploaded for this course. </p>
  <p> Please upload a csv file with student details in the following format:</p>
  <p> Student number, first name, last name, degree</p>
  <p> This can be exported from access adelaide.</p>
 <%= form_tag '/upload/import', multipart: true do %>
  <%= file_field_tag :file, class: "btn" %>
  <%= submit_tag "Import", class: "btn" %>
<% end %>
   
<% end %>
</div>