<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Groupify</title>

    <!-- Bootstrap core CSS -->
    <link href="../../assets/stylesheets/bootstrap.css" rel="stylesheet">


</head>

<body>

    <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Groupify</a>
            </div>

 	<div class="navbar-form navbar-left">
  <button onclick="window.location.href='/lecturer'" class = "btn btn-success">Home</button>
  <button onclick="window.location.href='/class'" class = "btn btn-success">Classes</button>
  <button onclick="window.location.href='/upload'" class = "btn btn-success">Upload Students</button>

       </div>
 	<div class="navbar-form navbar-right">
  <button onclick="window.location.href='/'" class = "btn btn-success">Log Out</button>
       </div>

            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

<h1> <%= @current_course.name %> </h1>
<%  if @student_list != nil # Display list %>
<table>
  <tr>
    <th>Student number</th>
    <th>Name</th>
    <th>Score</th>
  </tr>

  <% @student_list.each do |student| %>
  <tr>
    <td> <%= student.student_number %> </td>
    <td> <%= student.name %>  </td>
    <td> <%= student.score %>  </td>
  </tr>
  <% end %>
</table>
<% else %>
  <p> There are no student details uploaded for this course. </p>
  <%= form_tag('/upload/upload_file', multipart: true) do %>

    <%= label_tag(:file) %>
    <%= file_field_tag(:file) %>
    <%= submit_tag 'Upload' %>
  <% end %>
<% end %>

 <footer>

            All Images <img src='http://i.creativecommons.org/l/by/2.0/80x15.png' alt='Creative Commons Attribution 2.0 Generic License' title='Creative Commons Attribution 2.0 Generic License' border='0'></a>&nbsp;&nbsp;by&nbsp;<a href='http://www.flickr.com/people/francisco_osorio/' target='_blank'>&nbsp;</a><a xmlns:cc='http://creativecommons.org/ns#' rel='cc:attributionURL' property='cc:attributionName' href='http://www.flickr.com/people/francisco_osorio/' target='_blank'>francisco_osorio</a><a href='http://www.imagecodr.org/' target='_blank'>&nbsp;</a>
            <p>Copyright &copy; Groupify Pty Ltd 2013</p>
        </footer>
        <!-- /END OF FOOTER -->

    </div>
    <!-- /container -->

    <!-- JavaScript -->
    <script src="../../assets/javascripts/jquery-1.10.2.js"></script>
    <script src="../../assets/javascripts/bootstrap.js"></script>

</body>

</html>