<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><%= image_tag( "Groupify2small.png", :alt => "Form groups quickly and easily" ) %></a>
    </div>
  </div><!-- /.container -->
</nav>

<div class="container text-center">
    <h1>Log in</h1>
  <% @page_title = "Groupify | Login" -%>
  <div class= "Sign_Form">

    <%= form_tag(:action => 'login_attempt') do %>
      <p>
      Username or Email:</br> <%= text_field_tag(:username_or_email) %>
      </p> 
      
      <p>
      Password:</br> <%= password_field_tag :login_password %>
      </p> 

  <% if flash[:color]== "valid" %>
    <div class="valid_notice">
      <p><%= flash[:notice]%></p>
    </div>
  <% elsif flash[:color]== "invalid"%>
    <div class="invalid_notice">
      <p><%=flash[:notice]%></p>
    </div>
  <%else%>
    <div class="notice">
      <p><%=flash[:notice]%></p>
    </div>
  <%end%>

      <%= submit_tag("Log In", class: "btn") %>
      <%= button_tag('Back', {class: 'btn', onclick: "window.location.href='/'", type: 'button'}) %>
    <% end %>

  </div>
</div>

      <footer>
<div class="container">
    <div class="row">
      <div class="col-sm-6">
        <ul class="nav navbar-nav">
          <li><a href="/about">About us</a></li>
          <li><a href="/">Privacy policy</a></li>
        </ul>
      </div>
    </div>

   <div class="row"> 
    <div class="col-sm-6">
      <div style="padding:0px 15px">
        <p>Copyright &copy; Groupify 2014</p>
      </div>
    </div>

    <div class="col-sm-6" id="socialmediaicons">
      <a href="https://www.facebook.com/groupifyau"><%=  image_tag( "fb.png", :alt => "Form groups quickly and easily" ) %></a>
      <a href="https://plus.google.com/101720690552888097186" rel="publisher"><%=  image_tag( "google+.png", :alt => "Form groups quickly and easily" ) %></a>
      <a href="https://twitter.com/GoGroupify"><%=  image_tag( "twitter.png", :alt => "Form groups quickly and easily" ) %></a>
      <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script><g:plusone></g:plusone>
    </div>
        
    </div>
  </div>
</footer>