<div class="container">

        <h1>Email to all students in <%= @current_course.name  %></h1>
   <h3 style="color:#FF6633;"></h3>
   <hr>	                                                
    <%= form_tag(:action => 'send_email') do %>
    <div class="row">
	<div class="col-md-1">
	<%= label_tag(:subject, "Subject: ") %>
	</div>
	<div class="col-md-1">
	<%= text_field_tag(:subject, nil, :size => "32", :placeholder => "Subject")  %>
	</div>
	</div>
	<br />
    <div class="row">
	<div class="col-md-1">
	<%= label_tag(:message, "Message: ") %>
	</div>
	<div class="col-md-1">
	<%= text_area_tag(:message, nil, :size => "32x10", :placeholder => "Message") %>
	</div>
	</div>
	<br /> <br /> 
    <div class="row">
	<div class="col-md-1">	
	<%= submit_tag "Send", class: "btn" %>
	</div>
	<div class="col-md-1">	
    <%= link_to "<button class= 'btn'>Back</button>".html_safe,  controller: "class", action: "show", id: @current_course.id %>
	</div>
	</div>
	<% end %>

 </div>