<div class="container">
<h1> <%= Course.find_by(id: session[:course_id]).name %> </h1>

<% unless Course.find_by(id: session[:course_id]).grouped.blank? %>
<p>
Your students have already been grouped. Doing this will reset the existing sorted groups.
</p>

<% end %>

<br />
<%= form_for :sort, url: {controller: "sort", action: "save_config"} do %>

<%= field_set_tag 'General:' do %>
	<%= label_tag(:group_size, "Group Size") %>
	<%= number_field_tag 'group_size', nil, in: 1...10 %>
<% end %>
<br /> <br />
<%= field_set_tag 'Algorithm:' do %>
	<%= radio_button_tag(:algorithm, "0") %>
	<%= label_tag(:random, "Random") %>
	<%= radio_button_tag(:algorithm, "1") %>
	<%= label_tag(:EP, "EP") %>
<% end %>
<br /> <br />
<%= field_set_tag 'Criteria:' do %>
	<%= check_box_tag(:age) %>
	<%= label_tag(:age, "Age") %>
	<%= check_box_tag(:gpa) %>
	<%= label_tag(:gpa, "GPA") %>
	<%= check_box_tag(:degree) %>
	<%= label_tag(:degree, "Degree") %>
<% end %>
 <br />
     <div class="row">
	<div class="col-md-1">
     <%= submit_tag "Start Sort", class: "btn" %>
     </div>
<% end %>
	<div class="col-md-1">

    <%= link_to "<button class= 'btn'>Back</button>".html_safe,  controller: "class", action: "show", id: @current_course.id %>
</div>
</div>
 <br />

 
</div>